header {
  height: 8%; 
  width: 100%; 
  position: fixed;
  z-index: 1;
  top:0; 
  left: 0;
  background-color: #3893af; 
  overflow-x: hidden; 
  padding-top: 0px;
  text-align: center;
}

 h1 {
  font-size: 1.7rem;
  font-weight: 500;
  color:black;
  padding: 0 12px;
  font-weight: bold;
  font-family: alexa-std, sans-serif;
}

  .sidenav {
    height: 100%; 
    width: 260px; 
    position: fixed; 
    top: 65 px; 
    left: 0;
    background-color: rgb(116, 196, 202); 
    overflow-x: hidden; 
    padding-top: 90px;  
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 35px;
    color:black;
    display: block;
    font-family: alexa-std, sans-serif;
}

.sidenav a:hover {
  color: #f1f1f1;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}



  