.table-article{
    border: 1px solid;
    padding: 15px;
    box-shadow: 5px 10px; 
    width:50%;
    margin-left: 500px; 
    margin-top:100px;
}


#td{
    text-align:right; 
   /* margin-top:68px;*/
}




.title{
    font-family: annie-use-your-telescope, sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.det{
    border: 1px solid white;
   
}