.table-condensed{
    
    border: 1px solid black;
    margin:5%;
   width:50%;
   left:260px;
  
    margin-left: 350px; /* Same as the width of the sidebar */
    /*padding: 0px 10px;
  */
  


}

#td{
    text-align:right;  
}